<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Liste des produits</h1>
            <div>
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Quantité</th>
                    </tr>
                    {% for produit in allProducts %}
                        <tr>
                            <td>{{produit.name}}</td>
                            <td>{{produit.description}}</td>
                            <td>{{produit.quantity}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <input type="button" value="Ajouter un produit" onclick="window.open('{{ path('app_products') }}')"/>
            </div>
        {% endblock %}
    </body>
</html>
